@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,500&family=Inter:wght@300;400;500&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
.serif {
  font-family: 'Playfair Display', serif;
}

.group:hover svg {
  transform: translateX(0.5rem);
}